@tailwind base;
@tailwind components;
@tailwind utilities;

.effect-logo{
background: #94b3a4;
box-shadow:  7px 7px 14px #7e988b,
             -7px -7px 14px #aacebd;
}
.effect-after{
background: linear-gradient(145deg, #85a194, #9ec0af);
box-shadow:  7px 7px 14px #7e988b,
             -7px -7px 14px #aacebd;
}
.effect-before{
background: linear-gradient(145deg, #9ec0af, #85a194);
box-shadow:  7px 7px 14px #7e988b,
             -7px -7px 14px #aacebd;
}
.effect-emboss{
background: #94b3a4;
box-shadow: inset 7px 7px 14px #7e988b,
            inset -7px -7px 14px #aacebd;
}
